.Modal {
  position: fixed;
  left: 15%;
  top: 30%;
  z-index: 500;

  box-sizing: border-box;
  width: 70%;
  padding: 16px;

  border: 1px solid #cccccc;
  background-color: white;
  box-shadow: 1px 1px 1px black;

  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
    left: calc(50% - 250px);

    width: 500px;
  }
}
