.NavigationItem {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.NavigationItem a {
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 16px 10px;

  color: white;
  text-decoration: none;

  border-bottom: 4px solid transparent;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: white;

  border-bottom: 4px solid #40a4c8;
  background-color: #8f5c2c;
}
