.Input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.Label {
  display: block;
  margin-bottom: 8px;

  font-weight: bold;
}

.InputElement {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 6px 10px;

  font: inherit;

  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.InputElement:focus {
  background-color: #cccccc;
}
